# Add based on hierarchy and then alphabetically

# Exclude all files/directories except the ones we want
/*

# .gitignore
!.gitignore

# Readme
!README.md

## apatel435
!/apatel435
/apatel435/*
### scripts
!/apatel435/scripts
/apatel435/scripts/*
#### mntDeb7.sh
!/apatel435/scripts/mntDeb7.sh
### system wide files
!/apatel435/slash
### Previous Krang stuff
!/apatel435/krang

## munzir
!/munzir
/munzir/*

## shimin
!/shimin
/shimin/*
